.exchanger {
    margin-left:auto;
    margin-right:auto;
    width: 700px;
    height: 100%;

    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #013e3a;
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 6px rgba(0,0,0,.5);
    overflow: hidden;
}
.main {
    width: 100%;
    padding: 10px;
    background: #013e3a;
    border-radius: 5px;

}
.block {
    height: 100px;
    width: 346px;
    background: #1d68a7;
    padding: 20px;
    display: inline-block;
}



.history-table {
    border: 2px white solid;
    width: 95%;
    color: white;
    margin: 20px;
    text-align: center;
}

.submit {
    width: 100%;
    height: 30px;
    background: gray;
    color: white;
    border: 1px solid black;
}
.submit:hover {
    background: #4f4f4f;
    border: 1px solid black;
}

.option {
    background: gray;
    height: 40px;
    color: white
}

.money {
    width: 130px;
    margin-left: 10px;
}
.money[disabled] {
    color: red;
}

.title {
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    color: #b3b3b8;
    font-size: 32pt;
}
